.row {
  display: contents;
}

.cell,
.quantityCell,
.buttonCell {
  padding: 12px;
  border-bottom: 1px solid var(--color-gray200);
  align-content: center;
}

.headerCell {
  background: var(--color-gray100);
  font-weight: bold;
}

.quantityCell {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cell {
  height: 60px;
}

.editQuantity {
  display: flex;
  flex-direction: column;
}

.buttonCell {
  display: flex;
  gap: 10px;
}

.bookTitle {
  font-weight: 500;
  color: var(--color-blue200);
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 0;
  border-bottom: 1px solid transparent;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.quantity {
  min-width: 40px;
  padding: 8px 11px;
  border-radius: 4px;
  background: var(--color-blue100);
  color: var(--color-blue200);
  font-weight: bold;
  text-align: right;
}

.editButton {
  padding: 1px 10px;
  border: none;
  border: 1px solid var(--color-gray200);
  color: var(--color-gray300);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.deleteButton {
  padding: 1px 10px;
  border: none;
  border: 1px solid var(--color-red);
  color: var(--color-red);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
