.row {
  display: contents;
}

.cell,
.buttonCell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  align-content: center;
}

.headerCell {
  background: #f4f4f4;
  font-weight: bold;
}

.cell {
  height: 60px;
}

.buttonCell {
  display: flex;
  gap: 10px;
}

.bookTitle {
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 0;
  border-bottom: 1px solid transparent;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.quantity {
  padding: 5px 10px;
  border-radius: 4px;
  background: #e1f5fe;
  color: #0070f3;
  font-weight: bold;
}

.editButton {
  padding: 1px 10px;
  border: none;
  border: 1px solid #ddd;
  color: #717171;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.deleteButton {
  padding: 1px 10px;
  border: none;
  border: 1px solid #d32f2f;
  color: #d32f2f;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
