.container {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}

.emptyState {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  color: #666;
}

.table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.headerRow {
  display: contents;
  font-weight: bold;
  background: #f4f4f4;
}

.headerCell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  align-content: center;
  background: #f4f4f4;
  font-weight: bold;
}
