.container {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-shrink: 0;
  height: 40px;
}

.input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  padding: 9px;
  padding-left: 40px;
  font-size: 18px;
}

.input::placeholder {
  color: #6b7280;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  height: 20px;
  transform: translateY(-50%);
  color: #6b7280;
}
